{
	"arrowParens": "always",
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 100,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"bracketSameLine": false,
	"trailingComma": "none"
}
